<div class="container my-5">
  <h3 class="p-3 mb-2 table-active">ジャンル編集</h3>

  <div class="row mt-5">
    <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local: true do |f| %>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <td>ジャンル名</td>
            <td></td>
            <td><%= f.text_field :name %></td>
            <td></td>
            <td><%= f.submit "変更を保存",class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
